[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = git@github.com:h2zero/esp-nimble-cpp.git
[submodule "components/libnmea-esp32"]
	path = components/libnmea-esp32
	url = https://github.com/igrr/libnmea-esp32.git
